.title-size{
  font-size: 2rem;
}
.title-size:hover{
  cursor: pointer;
}

.global-nav{
    color: #282c34;
    background-color: #BFBFC4;
    display: flex;
    position: fixed;
    align-items: stretch;
    justify-content:left;    
    gap: 2rem;
    padding: 0 2rem;
    width: 100%;
    transition: transform 0.5s ease-in-out;
  }

.hide-nav{
  transform: translateY(-100%);
}

.global-nav ul{
    padding: 0;
    margin: 0.5rem;
    display:flex;
    list-style-type: none;
    gap: 1rem;
  }

  .global-nav a{
    color: inherit;
    display: flex;
    padding: .25rem;
    height: 100%;
    text-decoration: none;
    align-items: center;
  } 

  .global-nav li{
    transition: 0.3s;
  }

  .global-nav li.active{
    color:black;
    font-weight: bold;
  }

  .global-nav li:hover{
    transition: 0.3s;
    letter-spacing: .313rem;
    cursor: pointer;
  }

  .global-nav li:hover:active{
    transition: 0.3s;
    color: #ffffff;
    font-weight: bold;
  }
