.Home {
  text-align: center;
}

.Home-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--title-size);
  overflow: hidden;
}

.Home-desc {
  font-size: clamp(.25rem, .75rem + 2vw, 1.625rem);
  color: var(--secondary-color);
}
