:root{
  --primary-background-color: #D5BFAB;
  --primary-color: #588157;
  --secondary-color:#30343F; 
  --tertiary-color: #086788;
  --accent-color: #942911;


  --title-size: clamp(1rem, 2rem + 2vw, 4rem);
  --p-size: clamp(.25rem, .5rem + 1vw, 1.5625rem);
  --padding: clamp(.15rem, .25rem + 10vw, 15rem);
  
  background-color: var(--primary-background-color);
  color: var(--primary-color);
  font-family: 'Saira', sans-serif;
  


}

body {
  margin: 0;
  /* font-family: 'Alegreya Sans', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

